<header>
        <div class="container">
            <nav class="navbar">
                <div class="logo-container">
                    <div class="logo-img">
                        <svg width="40" height="40" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="45" fill="#001f3f" />
                            <path d="M30,30 L70,30 L70,70 L30,70 Z" fill="#FF851B" />
                            <circle cx="50" cy="50" r="15" fill="white" />
                        </svg>
                    </div>
                    <a href="{% url 'landing_page' %}" class="logo-text">Impala<span>Healthtech</span></a>
                </div>
                <ul class="nav-menu">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">Who We Are</a></li>
                    <li><a href="#services">What We Do</a></li>
                    <li><a href="#get-involved">Get Involved</a></li>
                    <li><a href="#updates">Updates</a></li>
                    <li><a href="#digams">DIGAMS</a></li>
                </ul>
                <div class="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>
